<!DOCTYPE html>
<html lang="en" ng-app='multiSelectApp'>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body ng-controller="mainCtrl">




    <div id="cityList">
        <ul style="list-style-type: none;">
            <span>Delhi({{delhiCount}})</span>
            <li ng-repeat="data in details" ng-if="data.City=='Delhi'">
                <div>
                    <input type="checkbox" value="{{data.Area}}" class"delhiCheckBox" ng-model="data.isAreaChecked" ng-change="firstFilterChange(data)" ng-disabled="!data.isAreaEnabled"> {{data.Area}}
            </li>
            </div>
        </ul>
        <ul style="list-style-type: none;">
            <span>Noida({{noidaCount}})</span>
            <li ng-repeat="data in details" ng-if="data.City=='Noida'">
                <div>
                    <input type="checkbox" value="{{data.Area}}" ng-model="data.isAreaChecked" ng-change="firstFilterChange(data)" ng-disabled="!data.isAreaEnabled"> {{data.Area}}
            </li>
            </div>
        </ul>
        <ul style="list-style-type: none;">
            <span>Gurgaon({{gurgaonCount}})</span>
            <li ng-repeat="data in details" ng-if="data.City=='Gurgaon'">
                <div>
                    <input type="checkbox" value="{{data.Area}}" ng-model="data.isAreaChecked" ng-change="firstFilterChange(data)" ng-disabled="!data.isAreaEnabled"> {{data.Area}}
            </li>
            </div>
        </ul>
    </div>

    <div id="hospitalList">
        <ul style="list-style-type: none;">
            <li ng-repeat="data in details">



                <input type="checkbox" value="{{data.Hospital_Name}}" ng-model="data.isHospitalChecked" ng-change="secondFilterChange(data)" ng-disabled="!data.isHospitalEnabled">{{data.Hospital_Name}}</li>
        </ul>


    </div>
    
    <input type="button" value="Reset All" ng-click="resetButton()">


    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="mainCtrl.js"></script>
    <script type="text/javascript" src="dataFetchService.js"></script>
    <script type="text/javascript" src="input.html"></script>
    


</body>

</html>